In [2]:
import numpy as np

In [3]:
a = np.array([[1, 2, 3], [4, 5, 6]])  #initialising a 2D numpy array

In [4]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [5]:
a.ndim  #gives dimensions of array

2

In [6]:
a.itemsize  #gives the number of bytes each element consumes

4

In [7]:
a.dtype   #gives the data type of each element

dtype('int32')

In [8]:
a.size   #gives the total number of elements in the array

6

In [9]:
a.shape   #gives the shape of the array, i.e. no. of subarrays along each axis

(2, 3)

In [10]:
a.sum()   #returns the sum of all the elements

21

In [11]:
a.sum(axis=0)   #returns the sum of elements along 0-axis (in the vertical direction in this example)

array([5, 7, 9])

In [12]:
a.sum(axis=1)   #returns the sum of elements along 1-axis (in the horizontal direction in this example)

array([ 6, 15])

In [13]:
a*3   #multiply each element of the array with a constant

array([[ 3,  6,  9],
       [12, 15, 18]])

In [14]:
np.sqrt(a)   #calculates the square root of each element

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974]])

In [15]:
a.min()   #gives the element with minimum value

1

In [16]:
a.max()   #gives the element with the maximum value

6

In [17]:
np.mean(a)   #returns the mean of all the elements

3.5

In [18]:
a[0:1, 0:2]   #numpy slicing: indexing starts from 0, the index after the column is excluded. Here, rows from 0 to 0 index and columns from 0 to 1 index are selected

array([[1, 2]])

In [19]:
b = np.array([[7,8,9], [10,11,12]])  #initialising another numpy array

In [20]:
b

array([[ 7,  8,  9],
       [10, 11, 12]])

In [23]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
a+b   #element wise sum of two arrays of same shape

array([[ 8, 10, 12],
       [14, 16, 18]])

In [25]:
a*b   #element wise multiplication of two arrays of same shape (note that this is not the usual matrix multiplication)

array([[ 7, 16, 27],
       [40, 55, 72]])

In [26]:
b.reshape(3, 2)  #changes the shape of the array, keeping the number of elements and their sequence same.

array([[ 7,  8],
       [ 9, 10],
       [11, 12]])

In [27]:
b.ravel()   #flattens the array

array([ 7,  8,  9, 10, 11, 12])

In [28]:
b.flatten()   #flattens the array

array([ 7,  8,  9, 10, 11, 12])

In [29]:
np.zeros((2, 3))   #initialises a numpy array of given shape with all the elements as 0.

array([[0., 0., 0.],
       [0., 0., 0.]])

In [30]:
np.ones((3, 4))   #initialises a numpy array of given shape with all the elements as 1.

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [31]:
np.identity(3)   #initialises an identity matrix of given size.

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [32]:
np.arange(1, 10, 2)   #returns the elements from 1 to 10 such that the difference between any two consecutive elements is 2.

array([1, 3, 5, 7, 9])

In [33]:
np.linspace(1, 20, 5)   #returns 5 equally spaced elements between 1 and 20.

array([ 1.  ,  5.75, 10.5 , 15.25, 20.  ])